@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Vazir";
        src: url("../fonts/Vazir.woff") format('woff'),
            url("../fonts/Vazir.woff2") format('woff2');
    }

    body {
        direction: rtl;
        font-family: "Vazir";
    }
}